version: '3.8'
services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: project_backend
    environment:
      DATABASE_URL: postgres://postgres:991112@postgres:5432/first_build
      NODE_ENV: development
      PORT: 3001
    ports:
      - '8080:3001'
